@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700&display=swap');

:root{
    --dark-purple: hsl(273, 85%, 13%);
    --davys-gray: hsl(271, 12%, 34%);
    --eucaplyptus: hsl(150, 100%, 63%);
    --ghost-white: hsl(274, 100%, 99%);
    --white: hsl(0, 0%, 100%);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}
a {
    text-decoration: none;
}

body{
    font-size: 18px;
    font-family: 'Manrope', sans-serif;
    background-color: var(--white);
    position: relative;
}   

.heading{
    font-family: 'Fraunces', serif;
    font-weight: 600;
}

.primary-btn{
    color: var(--dark-purple);
    padding: 1rem 1.5rem;
    background-color: var(--eucaplyptus);
    font-weight: 700;
}
.primary-btn:hover{
    background-color: var(--dark-purple);
    color: var(--eucaplyptus);
    border: 2px solid var(--eucaplyptus);
}

.secondary-btn{
    font-size: 1rem;
    line-height: 32px;
    color: white;
    font-weight: 700;
    border-bottom: 3px solid var(--eucaplyptus);
    display: block;
    width: fit-content;
}
.secondary-btn:hover{
    color: var(--eucaplyptus);
}

/* HEADER && HERO */
.header{
    background-color: var(--dark-purple);
    color: var(--white);
    border-bottom-left-radius: 60% 10%;
    border-bottom-right-radius: 60% 10%;
    padding: 2rem 1rem 9.75rem;
}
.header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 90rem; 
    margin: 0 auto 4rem;
}
.hero{
    text-align: center;
}
.hero .heading{
    font-size: 3.125rem;
    line-height: 50px ;
    letter-spacing: 0px;
    text-align: center;
    margin-bottom: 2.5rem;
}
.hero .heading span{
    border-bottom: 2px solid var(--eucaplyptus); 
}
/* HEADER && HERO Tablet */
@media only screen and (min-width: 40.063em) {
    .header div{
        padding: 2rem 2.5rem 0;
    }
}
/* HEADER && HERO Desktop */
@media only screen and (min-width: 64.063em) {
    .header div{
        padding: 3.5rem 10rem 0;
    }
 }


/* HERO
.hero{
    position: relative;
    background-color: var(--dark-purple);
    color: var(--white);
    
}
.hero .hero-text{
    text-align: center;
}

.hero-heading{
   
    margin-bottom: 2rem;
}

.hero a{
    margin: 0 auto;
}
.hero img{
    width: 320px;
    position: absolute;
    left: 2.25rem;
    top: calc(389px - header);
} */
/* HERO  Tablet*/
@media only screen and (min-width: 40.063em) {}
/* HERO Desktop*/
@media only screen and (min-width: 64.063em) {}


/* MAIN */
.main{
    background-color: var(--ghost-white);
    padding: 9.5rem 1rem 0;
}

.hero-img-container{
    position: absolute;
    width: 320px;
    left: 36px;
    top: 389px;
}
/* SERVICES */
.services{
    background-color: var(--ghost-white);
    padding: 2rem 1rem;
}
.service{
    margin-bottom: 2.5rem;
}
.number{
    font-family: 'Fraunces', serif;
    margin: 0 auto 1.5rem;
    width: 3rem;
    height: 3rem;
    border: 1px solid var(--davys-gray);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.service-heading{
    font-size: 1.5rem;
    line-height: 36px;
    text-align: center;
    margin-bottom: 1rem;
}
.service-text{
    font-size: 1rem;
    font-weight: 400;
    line-height: 28px;
    text-align: center;
    color: var(--davys-gray);
}
.about{
    padding: 4rem 1rem;
}
.founder{
    padding: 0 2rem;
}
.founder img{
    width: 100% 
}
.about-text{
    background-color: var(--dark-purple);
    padding: 2rem 1rem;
    text-align: center;
    color: var(--white);
}
.about-heading{
    font-size: 2rem;
    line-height: 3rem;
    margin-bottom: 1rem;
}
.about-content{
    font-size: 1rem;
    line-height: 1.5rem;
    margin-bottom: 1.5rem;
}
.about-text .primary-btn{
    margin: 0 auto;
}

.footer{
    padding: 4rem 8rem;
}
.footer img{
    margin: 0 auto 3.5rem;
}
.socials{
    list-style: none;
    justify-content: space-between;
    display: flex;
}